<!---------------------------------------------------------------------------- NavBar -->
<header class="header-global" id="home">
  <nav id="navbar-main" aria-label="Primary navigation"
    class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-theme-secondary">
    <div class="container position-relative">
      <a class="navbar-brand mr-lg-4" href="./index.html">
        <img class="navbar-brand-dark" src="./assets/img/light.svg" alt="Logo light" />
        <img class="navbar-brand-light" src="./assets/img/dark.svg" alt="Logo dark" />
      </a>
      <div class="navbar-collapse collapse mr-auto" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="./assets/img/dark.svg" alt="Logo dark" />
              </a>
            </div>
            <div class="col-6 collapse-close">
              <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global"
                aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
            </div>
          </div>
        </div>

        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <a [routerLink]="['/']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin && !Role" [routerLink]="['/exams']" [routerLinkActive]="'text-danger'"
              [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
              Take Exam
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin && Role" [routerLink]="['/admin/exam']" [routerLinkActive]="'text-danger'"
              [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
              Exams
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/ContactUs" routerLinkActive="text-danger" [routerLinkActiveOptions]="{exact:true}"
              class="nav-link"> Contact Us </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/About']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link">
              About Us
            </a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <a *ngIf="!isLogin" [routerLink]="'/SignIn'" [routerLinkActive]="'text-danger'"
              [routerLinkActiveOptions]="{ exact: true }" class="nav-link"> Sign In </a>
          </li>
          <li class="nav-item">
            <a *ngIf="!isLogin" [routerLink]="'/SignUp'" [routerLinkActive]="'text-danger'"
              [routerLinkActiveOptions]="{ exact: true }" class="nav-link"> Sign Up </a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin" (click)="LogOut()" class="nav-link"> Log Out </a>
          </li>
          <li class="bg-success text-white rounded p-2 pointer-events-none user-select-none" *ngIf="isLogin">
            <span><b>Welcome {{ username }}</b></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>